---
import { publications } from '@cv'

import Section from '@/components/Section.astro'
---

<Section title="Publicaciones">
    <ul>
        {publications.map(({ name, releaseDate, DOI, journal }) => {
          const options: Intl.DateTimeFormatOptions = {day: "2-digit", month: "short", year: "numeric"}
          const time = new Date(releaseDate).toLocaleString('es-MX', options)
          const url = `https://doi.org/${DOI}`
            return (
            <li>
              <article>
                  <header>
                      <div>
                          <h3>{name}</h3>
                      </div>
                      <time>{time}</time>
                  </header>
                  <footer>
                      <p>{journal} - DOI: <a href={url}>{url}</a></p>
                  </footer>
              </article>
          </li>
            )}
        )}
    </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  article h3 {
    font-weight: 600;
    color: #111;
  }

  article h4 {
    color: #222;
    font-weight: 500;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: .85rem;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  a {
    color: #222;
    text-decoration: underline;
  }
</style>